PORT=8080
APP_ENV=local
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=password1234
DB_SCHEMA=public

# If no dba url is provided then db string is build from above fields
# POSTGRESQL_URL=postgres://postgres:postgres@localhost:5434/tmr-db-dev?search_path=public
REDIS_URL=localhost:6379
REDIS_PASSWORD=tmr@cache

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_USER_INFO_URL=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URI=
APPLE_USERINFO_URI=

JWT_SECRET_KEY=
SECRET_KEY_EXPIRES_IN=3600
JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=86400

ALLOWED_ORIGINS="http://*, https://*"
APP_FRONTEND_URL=""
APP_BACKEND_URL=""

EMAIL_SENDER=""
EMAIL_SENDER_PASS=""
SMTP_SERVER=""
SMTP_PORT=587


API_KEY="4ynIhuBeEVsFjNRPrnT4ynIhuBeEaVsFjNRPrnT4ynIhuBeEaVsFjNRPrnT4ynIhuBeEfVsFjNRPrnT"

AWS_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000   # MinIO endpoint (with scheme)
AWS_ACCESS_KEY_ID=minioadmin         # will be picked up by default chain
AWS_SECRET_ACCESS_KEY=minioadmin     # ditto
S3_BUCKET=profiles

LOG_LEVEL="info"

STRIPE_API_KEY=sk_test_51Rh17vQZyAT0oOOGV...
STRIPE_WEBHOOK_SECRET=whsec_7f78233197dxa...
STRIPE_WEBHOOK_URL=http://localhost:8080/api/v1/stripe/webhook
STRIPE_VIDEO_PRICE_ID=""
STRIPE_SUBSCRIPTION_PRICE_IDS="1,1,2"
